#body {
    top: 80px;
    position: absolute;
    left: 100px;
    right: 100px;
}

#editor {
    position: relative;
    width: 100%;
    height: 700px;
}

#editor_run {
    position: relative;
    width: 100%;
    padding-top: 5px;
}

#editor_run_btn {
    width: 10%;
}