body {
    font-family: "Arial", sans-serif;
}

#body {
    padding-top: 20px;
    position: absolute;
    left: 100px;
    right: 100px;
}

#body_login {
    padding-top: 20px;
    position: absolute;
    left: 300px;
    right: 300px;
}

#body_login_alert {
    left: 300px;
    right: 300px;
}

#editor_controls {
    padding-top: 20px;
    padding-bottom: 5px;
}

#editor {
    position: relative;
    width: 100%;
    height: 700px;
}

#editor_run {
    position: relative;
    width: 100%;
    padding-top: 5px;
}

#editor_run_btn {
    width: 10%;
}

ul a {
    color: inherit;
    text-decoration: none;
}