<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>ACE in Action</title>
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "js/storage.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        let editor;
        let csrftoken;
        let settings;
        $(document).ready(() => {

            settings = storage.get_values();

            editor = ace.edit("editor");
            editor.setTheme("ace/theme/" + settings.theme);
            editor.session.setMode("ace/mode/" + settings.language);
            editor.setFontSize(parseInt(settings.font_size))
            editor.setKeyboardHandler(settings.controls);

            // Handler: run the code
            $("#editor_run_btn").click(() => {
                let text = editor.getValue();
                $.ajax({
                    type: "POST",
                    url: "{% url 'editor' %}",
                    data: {
                        "text": text
                    },
                    success: (result) => {
                        $("#output").val(result);
                    }
                });
            });

            // Handler: change font size
            $("#editor_control_size").change((event) => {
                try {
                    let font_size = parseInt($(event.target).val())
                    editor.setFontSize(font_size);
                    storage.set_values({font_size: font_size});
                } catch (e) {}
            });

            // Handler: change theme
            $("#editor_control_theme").change((event) => {
                let theme = $(event.target).val();
                editor.setTheme("ace/theme/" + theme);
                storage.set_values({theme: theme});
            });

            // Handler: change keybindings
            $("#editor_control_keybindings").change((event) => {
                let controls = $(event.target).val();
                editor.setKeyboardHandler(controls);
                storage.set_values({controls: controls});
            });

            let csrfSafeMethod = (method) =>{
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $.ajaxSetup({
                beforeSend: (xhr, settings) => {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
</head>
<body>
    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item"><i class="fas fa-home"></i> Editor</li>
        <li class="c-nav__item"><i class="fas fa-star"></i> Files</li>
        <li class="c-nav__item c-nav__item--right"><i class="fas fa-user"></i> Login</li>
    </ul>

    <div id="body">

        <div class="c-input-group">
            <div class="o-field">
                <label class="c-field">
                    Language:
                    <select class="c-field" id="editor_control_language">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Theme:
                    <select class="c-field" id="editor_control_theme">
                        <option value="monokai">Monokai</option>
                        <option value="github">GitHub</option>
                        <option value="solarized_dark">Solarized Dark</option>
                        <option value="solarized_light">Solarized Light</option>
                        <option>MORE TO COME</option>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Font size:
                    <input type="number" size="2" maxlength="2" min="1" class="c-field" value="12" id="editor_control_size" />
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Controls:
                    <select class="c-field" id="editor_control_keybindings">
                        <option value="">Normal</option>
                        <option value="ace/keyboard/vim">Vim</option>
                    </select>
                </label>
            </div>
            <button class="c-button c-button--success" style="padding: 15px">Save</button>
        </div>
        <div id="editor">//write your code here!</div>

        <div id="editor_run" class="c-input-group">
            <input type="button" class="c-button c-button--success" name="editor_run_btn" id="editor_run_btn" value="Run program!" />
            <div class="o-field">
                <input type="text" class="c-field" placeholder="(optional) command line arguments" name="editor_run_args" id="editor_run_args"/>
            </div>
        </div>

        <p><label for="output">Program output:</label>
        <textarea class="c-field" rows="20" cols="200" id="output" name="output">

        </textarea></p>

    </div>

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>