<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>ACE in Action</title>
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        let editor;
        let csrftoken;
        $(document).ready(() => {

            editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/c_cpp");
            editor.setFontSize(12);

            $("#editor_run_btn").click(() => {
                let text = editor.getValue();
                $.ajax({
                    type: "POST",
                    url: "{% url 'editor' %}",
                    data: {
                        "text": text
                    },
                    success: function(result){
                        let console = document.getElementById("output");
                        console.value = result;
                    }
                });
            });

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
</head>
<body>
    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item"><i class="fas fa-home"></i> Editor</li>
        <li class="c-nav__item"><i class="fas fa-star"></i> Files</li>
        <li class="c-nav__item c-nav__item--right"><i class="fas fa-user"></i> Login</li>
    </ul>

    <div id="body">

        <div class="c-input-group">
            <div class="o-field">
                <label class="c-field">
                    Language:
                    <select id="language" class="c-field">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Theme:
                    <select id="theme" class="c-field">
                        <option value="monokai">Monokai</option>
                        <option value="solarized_light">Solarized Light</option>
                        <option>MORE TO COME</option>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Font size:
                    <input type="number" size="2" maxlength="2" min="1" class="c-field" value="12" />
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Controls:
                    <select id="controls" class="c-field">
                        <option value="monokai">Normal</option>
                        <option value="solarized_light">Vim</option>
                    </select>
                </label>
            </div>
            <button class="c-button c-button--success" style="padding: 15px">Save</button>
        </div>
        <div id="editor">//write your code here!</div>

        <div id="editor_run" class="c-input-group">
            <input type="button" class="c-button c-button--success" name="editor_run_btn" id="editor_run_btn" value="Run program!" />
            <div class="o-field">
                <input type="text" class="c-field" placeholder="(optional) command line arguments" name="editor_run_args" id="editor_run_args"/>
            </div>
        </div>

        <p>Here is the result of the program</p>
        <textarea class="c-field" rows="20" cols="200" id="output">

        </textarea>

    </div>

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>