<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Editor - Prototype Editor</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />
    <link rel="stylesheet" href="{% static "css/loadawesome.css" %}" />

    <script src="{% static "js/storage.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <style>
        .ace-multi-cursor{
            position: absolute;
            border-left: 2px solid gold;
        }

    </style>
    <script type="text/javascript">
        let editor;
        let csrftoken;
        let settings;
        $(document).ready(() => {
            settings = storage.get_values();
            $("#editor_control_language").val(settings.language);
            $("#editor_control_theme").val(settings.theme);
            $("#editor_control_size").val(settings.font_size);
            $("#editor_control_keybindings").val(settings.controls);

            let loading_animation = $("#loading_animation");
            loading_animation.hide();

            let initial_language = settings.language;
            if (initial_language === "c" || initial_language === "cpp") {
                initial_language = "c_cpp";
            }

            editor = ace.edit("editor");
            editor.setTheme("ace/theme/" + settings.theme);
            editor.session.setMode("ace/mode/" + initial_language);
            editor.setFontSize(parseInt(settings.font_size));
            editor.setKeyboardHandler(settings.controls);

            // Handler: run the code
            $("#editor_run_btn").click((event) => {
                let run_button = $(event.target);
                let text = editor.getValue();
                let language = $("#editor_control_language").val();
                let filename = $("#editor_run_filename").val();
                let flags = $("#editor_run_args").val();
                let path = '{{ path }}';

                loading_animation.show();
                run_button.prop("disabled", true);
                $('html, body').animate({
                        scrollTop: $(event.target).offset().top
                    }, 1500);

                $.ajax({
                    type: "POST",
                    url: "{% url 'editor' %}",
                    data: {
                        "text": text,
                        "language": language,
                        "filename": filename,
                        "flags": flags,
                        "path": path
                    },
                    success: (result) => {
                        loading_animation.hide();
                        run_button.prop("disabled", false);
                        let output = $("#output");
                        $('html, body').animate({
                            scrollTop: output.offset().top
                        }, 1500);
                        output.prepend(result);
                        bind_remove_output();
                    }
                });
            });

            // Handler: change language
            $("#editor_control_language").change((event) => {
                let language = $(event.target).val();
                let ace_language;
                switch (language) {
                    case "c":
                    case "cpp":
                        ace_language = "c_cpp";
                        break;
                    case "java":
                        ace_language = "java";
                        break;
                    case "python":
                        ace_language = "python";
                        break;
                    default:
                        ace_language = "text";
                        break;
                }
                editor.session.setMode("ace/mode/" + ace_language);
                storage.set_values({language: language});
            });

            // Handler: change font size
            $("#editor_control_size").change((event) => {
                try {
                    let font_size = parseInt($(event.target).val())
                    editor.setFontSize(font_size);
                    storage.set_values({font_size: font_size});
                } catch (e) {}
            });

            // Handler: change theme
            $("#editor_control_theme").change((event) => {
                let theme = $(event.target).val();
                editor.setTheme("ace/theme/" + theme);
                storage.set_values({theme: theme});
            });

            // Handler: change keybindings
            $("#editor_control_keybindings").change((event) => {
                let controls = $(event.target).val();
                editor.setKeyboardHandler(controls);
                storage.set_values({controls: controls});
            });

            // Handler: get the file list
            $("#editor_control_load").click((event) => {
                let load_dialog = $("#file_open_display");
                load_dialog.removeClass("u-display-none");

                $.ajax({
                    type: "GET",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "mode": "list",
                        "path": "{{ path }}"
                    },
                    success: (result) => {
                        $("#file_open_display_list").html(result);

                        bind_open_event();
                    }
                });
            });

            // Handler: new file
            $("#editor_control_new").click((event) => {
                editor.setValue("", 1);
                $("#editor_run_filename").val("");
                $("#editor_run_args").val("");
            });

            // Handle: show the share dialog
             $("#editor_control_share").click((event) => {
                let save_dialog = $("#repository_sharing_display");
                save_dialog.removeClass("u-display-none");
                let save_message = $("#repository_sharing_success_label");
                save_message.hide();
            });

            // Handle: share the repository
            $("#repository_sharing_button").click((event) => {
                let share_message = $("#repository_sharing_success_label");
                let shared_username = $("#repository_share_user").val();
                let repo_name = '{{ repo_name }}';
                let owner_username = '{{ owner_username }}';
                $.ajax({
                    type: "POST",
                    url: "{% url 'share' %}",
                    data: {
                        "shared_username": shared_username,
                        "repo_name":repo_name,
                        "owner_username": owner_username
                    },
                    success: (result) => {
                        share_message.show();
                        share_message.text(result);
                    }
                });
            });

            // Handler: show the save dialog
            $("#editor_control_save").click((event) => {
                let save_dialog = $("#file_save_display");
                save_dialog.removeClass("u-display-none");
                let save_message = $("#file_save_success_label");
                save_message.hide();
                $("#file_save_name").val($("#editor_run_filename").val());
            });

            // Handler: save the file
            $("#file_save_button").click((event) => {
                let save_message = $("#file_save_success_label");

                let text = editor.getValue();
                let filename = $("#file_save_name").val();

                $.ajax({
                    type: "POST",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "path": "{{ path }}",
                        "filename": filename,
                        "text": text,
                        "mode": "save"
                    },
                    success: (result) => {
                        save_message.show();
                        save_message.text(result);
                        $("#editor_run_filename").val(filename);
                    }
                });
            });

            // Handler: open dialog close button
            $("#file_open_display_close").click((event) => {
                $("#file_open_display").addClass("u-display-none");
            });

            // Handler: save dialog close button
            $("#file_save_display_close").click((event) => {
                $("#file_save_display").addClass("u-display-none");
            });

            // Handler: share dialog close button
            $("#repository_sharing_display_close").click((event) => {
                $("#repository_sharing_display").addClass("u-display-none");
            });

            let csrfSafeMethod = (method) =>{
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $.ajaxSetup({
                beforeSend: (xhr, settings) => {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            editor.on( "change", function( e ) {
            // TODO, we could make things more efficient and not likely to conflict by keeping track of change IDs
            if( last_applied_change!=e && !just_cleared_buffer ) {
                collaborator.change( JSON.stringify(e) ) ;
            }
            just_cleared_buffer = false ;
            }, false );
            editor.$blockScrolling = Infinity ;
        });

        let bind_remove_output = () => {
            let output_close = $(".remove_output");
            output_close.off("click");
            output_close.click((event) => {
                let div = $(event.target).parent().parent().parent();
                div.hide();
            });
        };

        let bind_open_event = () => {
            $(".file_open_item").click((event) => {
                let load_dialog = $("#file_open_display");
                load_dialog.addClass("u-display-none");
                let filename = $(event.target).text();

                $.ajax({
                    type: "GET",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "mode": "file",
                        "path": "{{ path }}",
                        "filename": filename
                    },
                    success: (result) => {
                        editor.setValue(result, 1);
                        $("#editor_run_filename").val(filename);
                        $("#editor_run_args").val("");

                        let lang = "";
                        filename = filename.toLowerCase();
                        if (filename.endsWith(".c")) {
                            lang = "c";
                        } else if (filename.endsWith(".cc")) {
                            lang = "cpp";
                        } else if (filename.endsWith(".java")) {
                            lang = "java";
                        } else if (filename.endsWith(".py")) {
                            lang = "python"
                        }
                        $("#editor_control_language").val(lang);
                        let ace_language;
                        switch (lang) {
                            case "c":
                            case "cpp":
                                ace_language = "c_cpp";
                                break;
                            case "java":
                                ace_language = "java";
                                break;
                            case "python":
                                ace_language = "python";
                                break;
                            default:
                                ace_language = "text";
                                break;
                        }
                        editor.session.setMode("ace/mode/" + ace_language);
                        storage.set_values({language: lang});
                    }
                });
            });

            $(".file_delete_item").click((event) => {
                let filename = $(event.target).prev().text();

                $.ajax({
                    type: "POST",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "path": "{{ path }}",
                        "filename": filename,
                        "mode": "delete"
                    },
                    success: (result) => {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'repo_files' %}",
                            data: {
                                "mode": "list",
                                "path": "{{ path }}"
                            },
                            success: (result) => {
                                $("#file_open_display_list").html(result);

                                bind_open_event();
                            }
                        });
                    }
                });
            });
        }

        // Sockets
        var session_id = null ;
        var collaborator = null ;
        var buffer_dumped = false ;
        var last_applied_change = null ;
        var just_cleared_buffer = null ;

        function Collaborator( session_id ) {
                this.collaboration_socket = io.connect( "https://127.0.0.1:1337", {query:'session_id=' + session_id} ) ;

                this.collaboration_socket.on( "change", function(delta) {
                    delta = JSON.parse( delta ) ;
                    last_applied_change = delta ;
                    editor.getSession().getDocument().applyDeltas( [delta] ) ;
                }.bind() ) ;

                this.collaboration_socket.on( "clear_buffer", function() {
                    just_cleared_buffer = true ;
                    console.log( "setting editor empty" ) ;
                    editor.setValue( "" ) ;
                }.bind() ) ;
            }

        Collaborator.prototype.change = function( delta ) {
                this.collaboration_socket.emit( "change", delta ) ;
            };

        Collaborator.prototype.clear_buffer = function() {
                this.collaboration_socket.emit( "clear_buffer" ) ;
            };

        Collaborator.prototype.dump_buffer = function() {
                this.collaboration_socket.emit( "dump_buffer" ) ;
        };

        session_id = '{{ owner_username }}' + '_' + '{{ repo_name    }}' ;
        collaborator = new Collaborator( session_id );
        collaborator.dump_buffer();
        last_applied_change = null;
        just_cleared_buffer = false ;
    </script>
</head>

<body>

    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item">Prototype Editor</li>
        <a href="{% url 'files' %}"><li class="c-nav__item">Files</li></a>
        <a href="{% url 'profile' %}"><li class="c-nav__item">Profile</li></a>
        <a href="{% url 'logout' %}"><li class="c-nav__item c-nav__item--right">Logout</li></a>
        {% if user.is_authenticated %}
                <a><li class="c-nav__item c-nav__item--right">Welcome, {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li class="c-nav__item c-nav__item--right">Login/Register</li></a>
        {% endif %}
    </ul>

    <div id="body">

        <div class="c-card">
            <div class="c-card__item c-card__item--success o-media">
                <div class="o-media__body">
                    {% if user.username == owner_username %}
                        <p class="c-paragraph">Currently editing the repository "{{ repo_name }}", owned by you.</p>
                    {% else %}
                        <p class="c-paragraph">Currently editing the repository "{{ repo_name}}", owned by {{ owner_nickname }} ({{ owner_username }}).</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="c-input-group" id="editor_controls">
            <div class="o-field">
                <label class="c-field">
                    Language:
                    <select class="c-field" id="editor_control_language">
                        <option value="text">None</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Theme:
                    <select class="c-field" id="editor_control_theme">
                        <optgroup label="Dark">
                            <option value="ambiance">Ambiance</option>
                            <option value="chaos">Chaos</option>
                            <option value="clouds_midnight">Clouds Midnight</option>
                            <option value="dracula">Dracula</option>
                            <option value="cobalt">Cobalt</option>
                            <option value="gruvbox">Gruvbox</option>
                            <option value="idle_fingers">Idle Fingers</option>
                            <option value="kr_theme">KR Theme</option>
                            <option value="merbivore">Merbivore</option>
                            <option value="merbivore_soft">Merbivore Soft</option>
                            <option value="mono_industrial">Mono Industrial</option>
                            <option value="monokai">Monokai</option>
                            <option value="pastel_on_dark">Pastel on Dark</option>
                            <option value="solarized_dark">Solarized Dark</option>
                            <option value="terminal">Terminal</option>
                            <option value="tomorrow_night">Tomorrow Night</option>
                            <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
                            <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                            <option value="tomorrow_night_eighties">Tomorrow Night 80s</option>
                            <option value="twilight">Twilight</option>
                            <option value="vibrant_ink">Vibrant Ink</option>
                        </optgroup>
                        <optgroup label="Light">
                            <option value="chrome">Chrome</option>
                            <option value="clouds">Clouds</option>
                            <option value="crimson_editor">Crimson Editor</option>
                            <option value="dawn">Dawn</option>
                            <option value="dreamweaver">Dreamweaver</option>
                            <option value="eclipse">Eclipse</option>
                            <option value="github">GitHub</option>
                            <option value="iplastic">Iplastic</option>
                            <option value="katzenmilch">Katzenmilch</option>
                            <option value="kuroir">Kuroir</option>
                            <option value="solarized_light">Solarized Light</option>
                            <option value="sqlserver">SQL Server</option>
                            <option value="textmate">TextMate</option>
                            <option value="tomorrow">Tomorrow</option>
                            <option value="xcode">XCode</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Font size:
                    <input type="number" size="2" maxlength="2" min="1" class="c-field" value="12" id="editor_control_size" />
                </label>
            </div>
            <div class="o-field">
                <label class="c-field">
                    Controls:
                    <select class="c-field" id="editor_control_keybindings">
                        <option value="">Normal</option>
                        <option value="ace/keyboard/vim">Vim</option>
                        <option value="ace/keyboard/emacs">Emacs</option>
                    </select>
                </label>
            </div>
            <button id="editor_control_share" class="c-button c-button--info" style="padding: 15px">Share</button>
            <button id="editor_control_new" class="c-button c-button--warning" style="padding: 15px">New</button>
            <button id="editor_control_load" class="c-button c-button--error" style="padding: 15px">Load</button>
            <button id="editor_control_save" class="c-button c-button--success" style="padding: 15px">Save</button>
        </div>
        <div id="editor"></div>

        <div id="editor_run" class="c-input-group">
            <div class="o-field">
                <input type="text" class="c-field" placeholder="(optional) filename" name="editor_run_filename" id="editor_run_filename"/>
            </div>
            <div class="o-field">
                <input type="text" class="c-field" placeholder="(optional) command line arguments" name="editor_run_args" id="editor_run_args"/>
            </div>
            <input type="button" class="c-button c-button--success" name="editor_run_btn" id="editor_run_btn" value="Run program!" />
        </div>

        <div id="loading_animation" style="margin: 40px 20px 20px;" class="u-center-block">
            <div class="u-center-block__content la-ball-running-dots la-dark la-3x">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <p id="output" name="output"></p>

    </div>

    <!-- file open dialog -->
    <div id="file_open_display" class="u-display-none">
        <div class="c-overlay c-overlay--visible"></div>
        <div class="o-modal">
            <div class="c-card">
                <header class="c-card__header">
                    <button id="file_open_display_close" type="button" class="c-button c-button--close">&times;</button>
                    <h2 class="c-heading">Open file</h2>
                </header>
                <div id="file_open_display_list" class="c-card__body">
                    stuff goes here
                </div>
            </div>
        </div>
    </div>

    <!-- file save dialog -->
    <div id="file_save_display" class="u-display-none">
        <div class="c-overlay c-overlay--visible"></div>
        <div class="o-modal">
            <div class="c-card">
                <header class="c-card__header">
                    <button id="file_save_display_close" type="button" class="c-button c-button--close">&times;</button>
                    <h2 class="c-heading">Save file</h2>
                </header>
                <div class="c-card__body">
                    <div class="c-input-group">
                        <div class="o-field">
                            <input id="file_save_name" class="c-field" placeholder="File name">
                        </div>
                        <button id="file_save_button" class="c-button c-button--success">Save file</button>
                    </div>
                    <div class="c-alert c-alert--success" style="margin-top: 20px" id="file_save_success_label">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Repository sharing dialog -->
    <div id="repository_sharing_display" class="u-display-none">
        <div class="c-overlay c-overlay--visible"></div>
        <div class="o-modal">
            <div class="c-card">
                <header class="c-card__header">
                    <button id="repository_sharing_display_close" type="button" class="c-button c-button--close">&times;</button>
                    <h2 class="c-heading">Sharing</h2>
                </header>
                <div class="c-card__body">
                    <p>Sharing this repository will allow other users to edit and run the files.</p>
                    <div class="c-input-group">
                        <div class="o-field">
                            <input id="repository_share_user" class="c-field" placeholder="Username" />
                        </div>
                        <button id="repository_sharing_button" class="c-button c-button--success">Share repository</button>
                    </div>
                    <div class="c-alert c-alert--success" style="margin-top: 20px" id="repository_sharing_success_label">
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>