<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Files</title>
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <ul class="c-nav c-nav--inline">
        <a href="{% url 'editor' %}"><li class="c-nav__item">Editor</li></a>
        <a href="{% url 'files' %}"><li class="c-nav__item">Files</li></a>
        <a href="{% url 'profile' %}"><li class="c-nav__item">Profile</li></a>
        <a href="{% url 'logout' %}"><li class="c-nav__item c-nav__item--right">Logout</li></a>
        {% if user.is_authenticated %}
                <a><li class="c-nav__item c-nav__item--right">Welcome, {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li class="c-nav__item c-nav__item--right">Login/Register</li></a>
        {% endif %}
    </ul>

    <div id="body_login">
        <h1>Your Repositories</h1>
        {% for repo in repos %}
            <h2>{{ repo.name }}</h2>
        {% endfor %}

        <p>stuff goes here</p>
        <h1>Files shared with you</h1>
        <p>more stuff</p>

        <form method="post" action={% url 'files' %}>
            {% csrf_token %}
            <input name="repo_name" type="text">
            <input type="submit" title="Create">
        </form>
    </div>

    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>