<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Files - Prototype Editor</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        let csrftoken;
        $(document).ready(() => {
            if (!"{{ err_msg }}") {
                $("#repo_error_label").hide()
            }

            $(".leave_repo").click(event => {
                let elem = $(event.target);
                let repo_user = elem.data("repo-user");
                let repo_name = elem.data("repo-name");
                $.ajax({
                    type: "POST",
                    url: "{% url 'files' %}",
                    data: {
                        "mode": "leave",
                        "repo_name": repo_name,
                        "repo_user": repo_user,
                    },
                    success: (result) => {
                        window.location.reload(true);
                    }
                });
            });

            let csrfSafeMethod = (method) =>{
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $.ajaxSetup({
                beforeSend: (xhr, settings) => {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
</head>
<body>

    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item">Prototype Editor</li>
        <a href="{% url 'files' %}"><li class="c-nav__item">Files</li></a>
        <a href="{% url 'profile' %}"><li class="c-nav__item">Profile</li></a>
        <a href="{% url 'logout' %}"><li class="c-nav__item c-nav__item--right">Logout</li></a>
        {% if user.is_authenticated %}
                <a><li class="c-nav__item c-nav__item--right">Welcome, {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li class="c-nav__item c-nav__item--right">Login/Register</li></a>
        {% endif %}
    </ul>

    <div id="body_login">
        <h1>Your repositories</h1>
        {% if repos %}
            <p>Select a repository to start coding.</p>
            <ul>
                {% for repo in repos %}
                    <li>
                        <a class="c-link" href="{% url 'e' user.username repo.name %}">{{ repo.name }}</a>
                        <a class="c-link" style="color: #4caf50" href="{% url 'manage' user.username repo.name %}">(manage)</a>
                        <ul>
                            {% if repo.shared_users.all|length > 0 %}
                            <li>Other contributors:<ul>
                                {% for shared_user in repo.shared_users.all %}
                                    {% if shared_user.username != repo.user.username and shared_user.username != user.username %}
                                        <li>{{ shared_user.nick_name }} ({{ shared_user.username }})</li>
                                    {% endif %}
                                {% endfor %}
                                </ul></li>
                            {% endif %}
                            <li>Created on {{ repo.date }}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There's nothing here! Create a repository to get started.</p>
        {% endif %}

        <h1>Create a repository</h1>
        <p>Repositories help you keep your files organized and collected. You can create a new repository for each project,
           or however else you see fit to organize your code.
           Share your repository with other users to allow them to edit the files they contain as well.</p>
        <form method="post" action={% url 'files' %}>
            {% csrf_token %}
            <div class="c-input-group">
                <div class="o-field">
                    <input class="c-field" name="repo_name" type="text" placeholder="Repository name" />
                </div>
                <input class="c-button c-button--success" type="submit" value="Create repository" />
            </div>
        </form>
        <div class="c-alert c-alert--error" style="margin-top: 20px" id="repo_error_label">
            {{ err_msg }}
        </div>

        <h1>Repositories shared with you</h1>
        {% if shared_repos %}
            <p>Select a repository to start coding.</p>
            <ul>
                {% for shared_repo in shared_repos %}
                    <li><a class="c-link" href={% url 'e' shared_repo.user.username shared_repo.name %}>{{ shared_repo.name }}</a> - shared by {{ shared_repo.user.nick_name }} ({{ shared_repo.user.username }})
                    <a class="leave_repo" style="cursor: pointer; color: red" data-repo-user="{{ shared_repo.user.username }}" data-repo-name="{{ shared_repo.name }}">&times;</a>
                    <ul>
                    {% if shared_repo.shared_users.all|length > 2 %}
                        <li>Other contributors:<ul>
                        {% for shared_user in shared_repo.shared_users.all %}
                            {% if shared_user.username != shared_repo.user.username and shared_user.username != user.username %}
                                <li>{{ shared_user.nick_name }} ({{ shared_user.username }})</li>
                            {% endif %}
                        {% endfor %}
                        </ul></li>
                    {% endif %}
                        <li>Created on {{ shared_repo.date }}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <p>Repositories that other users have shared with you will appear here.</p>
        {% endif %}
    </div>

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>