<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Repository - Prototype Editor</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        let csrftoken;
        $(document).ready(() => {
            let rename_label = $("#repository_rename_label");
            let sharing_label = $("#repository_sharing_label");
            let transfer_label = $("#repository_transfer_label");
            rename_label.hide();
            sharing_label.hide();
            transfer_label.hide();

            $.ajax({
                    type: "GET",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "mode": "list",
                        "format_mode": "manage",
                        "path": "workspaces/{{ path }}"
                    },
                    success: (result) => {
                        $("#files_list").html(result);

                        bind_open_event();
                    }
                });

            // Handler: share repository
            $("#repository_sharing_button").click(() => {
                let shared_username = $("#repository_share_user").val();
                let repo_name = '{{ repo_name }}';
                let owner_username = '{{ user }}';
                $.ajax({
                    type: "POST",
                    url: "{% url 'share' %}",
                    data: {
                        "shared_username": shared_username,
                        "repo_name":repo_name,
                        "owner_username": owner_username
                    },
                    success: (result) => {
                        sharing_label.show();
                        sharing_label.text(result);

                        $.ajax({
                            type: "GET",
                            url: "{% url 'manage_refresh' %}",
                            data: {
                                "repo_name": "{{ repo_name }}"
                            },
                            success: (result) => {
                                result = JSON.parse(result);
                                build_user_list(result);
                            }
                        });
                    }
                });
            });

            // Handler: rename repository
            $("#repository_rename_button").click(() => {
                let new_name = $("#repository_rename").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'manage_post' %}",
                    data: {
                        "mode": "rename",
                        "repo_name": "{{ repo_name }}",
                        "user": "{{ user }}",
                        "new_name": new_name
                    },
                    success: (result) => {
                        if (result === "renamed") {
                            window.location.replace("{% url 'files' %}");
                        } else {
                            rename_label.show();
                            rename_label.text(result);
                        }
                    }
                });
            });

            // Handler: transfer repository
            $("#repository_transfer_button").click(() => {
                let new_owner_name = $("#repository_transfer").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'manage_post' %}",
                    data: {
                        "mode": "transfer",
                        "repo_name": "{{ repo_name }}",
                        "user": "{{ user }}",
                        "new_owner_name": new_owner_name
                    },
                    success: (result) => {
                        if (result === "transferred") {
                            window.location.replace("{% url 'files' %}");
                        } else {
                            transfer_label.show();
                            transfer_label.text(result);
                        }
                    }
                });
            });

            // Handler: enable delete button
            $("#repository_delete_checkbox").change(() => {
                let delete_button = $("#repository_delete_button");
                if($("#repository_delete_checkbox").is(":checked")) {
                    delete_button.prop("disabled", false);
                } else {
                    delete_button.prop("disabled", true)
                }
            });

            // Handler: delete repository
            $("#repository_delete_button").click(() => {
                $.ajax({
                    type: "POST",
                    url: "{% url 'manage_post' %}",
                    data: {
                        "mode": "delete",
                        "repo_name": "{{ repo_name }}",
                        "user": "{{ user }}"
                    },
                    success: (result) => {
                        window.location.href = "{% url 'files' %}";
                    }
                });
            });

            // Handler: preview dialog close button
            $("#file_preview_display_close").click((event) => {
                $("#file_preview_display").addClass("u-display-none");
            });

            let csrfSafeMethod = (method) =>{
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $.ajaxSetup({
                beforeSend: (xhr, settings) => {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            bind_remove_user();
        });

        let build_user_list = result => {
            let list = "";
            for (let i = 0; i < result.length; i++) {
                let item = result[i];
                list += "<li> " + item.fields.nick_name + " (" + item.fields.username + ") ";
                list += "<a class=\"remove_user\" style=\"cursor: pointer; color: red\" data-username=\"" + item.fields.username + "\">&times;</a>";
                list += "</li>";
            }
            $("#shared_user_list").html(list);
            let user_paragraph = $("#shared_user_paragraph");
            if (result.length === 0) {
                user_paragraph.text("This repository is not shared with any other users.")
            } else {
                user_paragraph.text("This repository is shared with the following users:");
            }
            bind_remove_user();
        };

        let bind_remove_user = () => {
            $(".remove_user").click(event => {
                let username = $(event.target).data("username");
                $.ajax({
                    type: "POST",
                    url: "{% url 'manage_refresh' %}",
                    data: {
                        "username": username,
                        "repo_name": "{{ repo_name }}",
                        "user": "{{ user }}"
                    },
                    success: (result) => {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'manage_refresh' %}",
                            data: {
                                "repo_name": "{{ repo_name }}"
                            },
                            success: (result) => {
                                result = JSON.parse(result);
                                build_user_list(result);
                            }
                        });
                    }
                });
            });
        };
        let bind_open_event = () => {
            $(".file_preview_item").click((event) => {
                let filename = $(event.target).data("file");

                $.ajax({
                    type: "GET",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "path": "workspaces/{{ path }}",
                        "filename": filename,
                        "mode": "preview"
                    },
                    success: (result) => {
                        $("#file_preview_display").removeClass("u-display-none");
                        $("#file_preview_display_title").text("Preview for \"" + filename + "\"");
                        $("#file_preview_display_body").text(result);
                    }
                });
            });

            $(".file_delete_item").click((event) => {
                let filename = $(event.target).data("file");

                $.ajax({
                    type: "POST",
                    url: "{% url 'repo_files' %}",
                    data: {
                        "path": "workspaces/{{ path }}",
                        "filename": filename,
                        "mode": "delete"
                    },
                    success: (result) => {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'repo_files' %}",
                            data: {
                                "mode": "list",
                                "format_mode": "manage",
                                "path": "workspaces/{{ path }}"
                            },
                            success: (result) => {
                                $("#files_list").html(result);

                                bind_open_event();
                            }
                        });
                    }
                });
            });
        }
    </script>
</head>
<body>

    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item">Prototype Editor</li>
        <a href="{% url 'files' %}"><li class="c-nav__item">Files</li></a>
        <a href="{% url 'profile' %}"><li class="c-nav__item">Profile</li></a>
        <a href="{% url 'logout' %}"><li class="c-nav__item c-nav__item--right">Logout</li></a>
        {% if user.is_authenticated %}
                <a><li class="c-nav__item c-nav__item--right">Welcome, {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li class="c-nav__item c-nav__item--right">Login/Register</li></a>
        {% endif %}
    </ul>

    <div id="body_login">
        <h1>Details for "{{ repo.name }}"</h1>

        <p>Created on {{ repo.date }}</p>

        <h3>Files</h3>

        <div id="files_list"></div>

        <p><a class="c-link" href="{% url 'e' user.username repo.name %}">Open in editor</a></p>

        <h3>Shared users</h3>

        <p id="shared_user_paragraph">This repository is not shared with any other users.</p>

        <ul id="shared_user_list">
        {% for user in repo.shared_users.all %}
            <li>{{ user.nick_name }} ({{ user.username }}) <a class="remove_user" style="cursor: pointer; color: red" data-username="{{ user.username }}">&times;</a></li>
        {% endfor %}
        </ul>

        {% if repo.shared_users.all|length != 0 %}
            <script type="text/javascript">
                $("#shared_user_paragraph").text("This repository is shared with the following users:")
            </script>
        {% endif %}

        <h3>Share with another user</h3>

        <div class="c-input-group">
            <div class="o-field">
                <input id="repository_share_user" class="c-field" placeholder="Username" />
            </div>
            <button id="repository_sharing_button" class="c-button c-button--success">Share repository</button>
        </div>

        <div class="c-alert c-alert--success" style="margin-top: 20px" id="repository_sharing_label"></div>

        <h3>Rename repository</h3>

        <p>Renaming a repository will change the name displayed to you and other users.</p>

        <div class="c-input-group">
            <div class="o-field">
                <input id="repository_rename" class="c-field" placeholder="New name" />
            </div>
            <button id="repository_rename_button" class="c-button c-button--success">Rename repository</button>
        </div>

        <div class="c-alert c-alert--success" style="margin-top: 20px" id="repository_rename_label"></div>

        <h3>Transfer repository ownership</h3>

        <p>Transferring ownership to another user will allow them to share, rename, and delete the repository. While you will lose these abilities,
           you will still have normal contributor access.</p>

        <div class="c-input-group">
            <div class="o-field">
                <input id="repository_transfer" class="c-field" placeholder="Username" />
            </div>
            <button id="repository_transfer_button" class="c-button c-button--success">Transfer ownership</button>
        </div>

        <div class="c-alert c-alert--success" style="margin-top: 20px" id="repository_transfer_label"></div>

        <h3>Delete repository</h3>

        <p><strong>Warning</strong> Deleting a repository is permanent. All code will be lost and cannot be recovered.</p>
        <div style="text-align: center">
            <label class="c-field c-field--choice"><input type="checkbox" id="repository_delete_checkbox" /> I understand this is permanent and wish to continue</label>
            <button id="repository_delete_button" class="c-button c-button--error" disabled>Delete repository</button>
        </div>
    </div>

    <!-- file preview dialog -->
    <div id="file_preview_display" class="u-display-none">
        <div class="c-overlay c-overlay--visible"></div>
        <div class="o-modal">
            <div class="c-card">
                <header class="c-card__header">
                    <button id="file_preview_display_close" type="button" class="c-button c-button--close">&times;</button>
                    <h2 id="file_preview_display_title" class="c-heading">Preview</h2>
                </header>
                <div class="c-card__body">
                    <p>Showing the first 20 lines:</p>
                    <pre id="file_preview_display_body"></pre>
                </div>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>

</body>
</html>