<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Profile - Prototype Editor</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css" />
    <link rel="stylesheet" href="{% static "css/editor.css" %}" />

    <script src="{% static "jquery/jquery-3.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <ul class="c-nav c-nav--inline">
        <li class="c-nav__item">Prototype Editor</li>
        <a href="{% url 'files' %}"><li class="c-nav__item">Files</li></a>
        <a href="{% url 'profile' %}"><li class="c-nav__item">Profile</li></a>
        <a href="{% url 'logout' %}"><li class="c-nav__item c-nav__item--right">Logout</li></a>
        {% if user.is_authenticated %}
                <a><li class="c-nav__item c-nav__item--right">Welcome, {{ user.username }}</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li class="c-nav__item c-nav__item--right">Login/Register</li></a>
        {% endif %}
    </ul>

    <div id="body_login" class="o-grid">
        <div class="o-grid__cell">
            <div class="o-grid-text">
                <h1>Profile for {{ user.username }}</h1>
                <p>Nickname: {{ user.nick_name }}</p>
                <p>Joined on {{ user.date_joined }}</p>
                <p>Email: <a class="c-link" href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            </div>
        </div>
        <div class="o-grid__cell">
            <div class="o-grid-text">
                <h1>Change profile details</h1>
                <form method="post" action="{% url 'profile' %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="c-input-group c-input-group--stacked">
                        <div class="o-field">
                            <input name="nickname" type="text" class="c-field" placeholder="Nickname">
                        </div>
                        <div class="o-field">
                            <input name="email" type="email" class="c-field" placeholder="Email">
                        </div>
                        <div class="o-field">
                            <input name="password" type="password" class="c-field" placeholder="Password">
                        </div>
                        <div class="o-field">
                            <button style="width: 100%" class="c-button c-button--success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
</body>
</html>